*, *:before, *:after {
    box-sizing: border-box;
}

:root {
  --bright-red: #de1839;
  --dark-grey: #384047 ;
}

html, body {
    height: 100vh;
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #f7f7f7;
    color: var(--dark-grey);
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 400px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 10px 30px rgba(0,0,0,.2);
    border: 1px solid #ab0e0e;
    border-radius: 2px;
}

#icon_zertificon {
    width: 2rem;
    margin: 0 auto;
    display: block;
    margin-bottom: 25px;
}

.headline-form {
    display: block;
    margin: 0 auto;
    margin-bottom: 19px;
    width: 80%;
    border: none;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 0.5px;
}

#content-login-container {
    width: 90%;
}

#login-form {
    margin-top: 45px;
}

.login-form-field {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 80%;
    border: none;
    border-bottom: 1px solid var(--dark-grey);
    margin-bottom: 25px;
    outline: none;
}

::placeholder {
  color: var(--dark-grey);
}


.login-form-submit {
    width: 24%;
    margin: 0 auto;
    margin-bottom: 19px;
    display: block;
    background-color: var(--bright-red);
    border-radius: 2px;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    border: var(--bright-red);
    text-shadow: 0px 0px 1px black;
    cursor: pointer;
    outline: none;
}

.login-form-submit:hover {
    background-color: #a50e26;
}

#login-error-message {
    text-align: center;
    font-size: 9px;
    color: var(--bright-red);
    visibility: hidden;
}

#validation-error-message {
    text-align: center;
    font-size: 11px;
    color: var(--bright-red);
    visibility: hidden;
}

.preview_icon {
    float: right;
    margin-left: -25px;
    margin-top: -46px;
    position: relative;
    z-index: 2;
    margin-right: 29px;
}

.fa {
    color: grey;
}

#sign-up-button {
  font-size: 10px;
  background-color: #e83553b8;
  opacity: 0.8;
  font-size: 12px;
  background-color: #e83553b8;
  opacity: 0.8;
  width: 20%;
}

#sign-up-button:hover {
    background-color: #a50e26;
}

#or-text {
    text-align: center;
    font-size: 11px;
}
