html {
    height: 100vh;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #f7f7f7;
    color: #384047;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 10px 30px rgba(0,0,0,.2);
}

.headline-form {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 80%;
    border: none;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
}

#content-login-form {
    width: 90%;
}


.login-form-field {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 80%;
    border: none;
}

#username-field {
    border-bottom: 2px solid #ce102d;
}

#password-field {
    border-bottom: 1px solid #ce102d;

}

#login-form-submit {
    width: 24%;
    margin: 0 auto;
    display: block;
}

#login-error-message {
  text-align: center;
}
