*, *:before, *:after {
    box-sizing: border-box;
}

html {
    height: 100vh;
    font-family: "Open Sans", sans-serif;
    margin: 0px;
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: #f7f7f7;
    color: #384047;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 10px 30px rgba(0,0,0,.2);
    border: 1px solid #ab0e0e;

}

#icon_zertificon {
    width: 2rem;
    margin: 0 auto;
    display: block;
    margin-bottom: 25px;
}

.headline-form {
    display: block;
    margin: 0 auto;
    margin-bottom: 19px;
    width: 80%;
    border: none;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 0.5px;
}

#content-login-container {
    width: 90%;
}

#login-form {
    margin-top: 45px;
}

.login-form-field {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 80%;
    border: none;
    border-bottom: 1px solid #ce102d;
    margin-bottom: 25px;
}


#login-form-submit {
    width: 24%;
    margin: 0 auto;
    margin-bottom: 19px;
    display: block;
    background-color: #de1839;
    border: #de1839#de1839;
    border-radius: 2px;
    padding: 5px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    border: #de1839;
    text-shadow: 0px 0px 1px black;
}

#login-error-message {
    text-align: center;
    font-size: 9px;
}
